<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    Scourgify Cleaner
  </title>
  <link rel="stylesheet" type="text/css" href="MClehome.css">
</head>
 
<body>
    <body style="background-color:rgb(129, 149, 192);"></body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href='#'>SCOURGIFY</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    
                    <li><a href='/index'>REQUESTED ORDERS</a></li>
                    
                    
                    <li><a href='/Mcontact2'>CONTACT US</a></li>
                    <li><a href='/Mmain'>LOGOUT</a></li>
                </ul>
            </nav>
        </div>
        <div class="content" style="width: 100%; height: 100%; padding: 30px; display: flex;">
            
            <% data.forEach(data=>{ %>
                <div style="width: 300px; height: 300px; background-color: #fff; border-radius: 12px; margin: 20px;" class="card">
                    first name:<%= data.fname%>
                    last name:<%= data.lname%>
                    email:<%= data.email%>
                    phone:<%= data.phone%>
                    Address:<%= data.Address%>
                    message:<%= data.message%>
                </div>
          <%  }) %>
        </div>


</body>
</html>