<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    Scourgify Cleaner
  </title>
  <link rel="stylesheet" type="text/css" href="MClehome.css">
</head>
 
<body>
    <body style="background-color:rgb(129, 149, 192);"></body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href='#'>SCOURGIFY</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    
                    <li><a href='/index'>REQUESTED ORDERS</a></li>
                    
                    
                    <li><a href='/Mcontact2'>CONTACT US</a></li>
                    <li><a href='/Mmain'>LOGOUT</a></li>
                </ul>
            </nav>
        </div>
        <div class="content" style="width: 100%; height: 100%; padding: 30px; display: flex;">
            
            <% data.forEach(data=>{ %>
                <div style="width: 300px; height: 280px;color: rgba(147, 229, 243, 0.842); background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));font-family: 'Calibri'; border-radius: 12px; margin: 20px; padding-top: 40px;padding-bottom: 40px;" class="card">
                   <center>First Name:<%= data.fname%><br></center>
                   <center>Last Name:<%= data.lname%><br></center>
                   <center>Email-ID:<%= data.email%><br></center>
                   <center>Phone:<%= data.phone%><br></center>
                   <center>Address:<%= data.Address%><br></center>
                   <center>Message:<%= data.message%></center>
                </div>
          <%  }) %>
    

        </div>
    

</body>
</html>